<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link href="~/Contents/bootstrap.css" rel="stylesheet" />
    <link href="~/Contents/style.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</head>
<body class="back" style="background-image:url(/Images/background.jpg)">
    <nav class="navbar navbar-inverse">
            <img src="~/Images/logo.png" />
        <div class="pull-right">
            <ul class="nav nav-pills ">
                <li role="presentation">@Html.ActionLink("Home", "Index","Home")</li>
                <li role="presentation">@Html.ActionLink("Register", "Register","Home")</li>
                <li role="presentation">@Html.ActionLink("Login", "login","Home")</li>
                <li role="presentation">@Html.ActionLink("About Us", "Aboutus","Home")</li>
                <li role="presentation">@Html.ActionLink("Contact us", "Contact","Home")</li>
            </ul>
        </div>
     
    </nav>
    
    <div class="vertical-center">
        <img src="~/Images/Nokia1.jpg" />
    </div>
    <br />
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/Lumia1520b.gif" alt="..."/>
                <div class="vertical-center">
                    <h4>Nokia Lumia 1520</h4>
                    <p>Price in Rs:<b>56,900</b></p>
                    <a href="#" class="btn btn-primary" role="button">Show More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/nokia808.gif" alt="..."/>
                <div class="vertical-center">
                    <h4>Nokia 808 </h4>
                    <p>Price in Rs:<b>49,900</b></p>
                    <div class="vertical-center">
                        <a href="#" class="btn btn-primary" role="button">Show More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/lumia1020b.gif" alt="..."/>
                <div class="vertical-center">
                    <h4>Nokia Lumia 1020 </h4>
                    <p>Price in Rs:<b>48,900</b></p>
                    <div class="vertical-center">
                        <a href="#" class="btn btn-primary" role="button">Show More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/Lumia830b.gif" alt="..."/>
                <div class="vertical-center">
                    <h4>Nokia Lumia 830</h4>
                    <p>Price in Rs:<b>45,400</b></p>
                    <div class="vertical-center">
                        <a href="#" class="btn btn-primary" role="button">Show More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/Lumia730b.gif" alt="..."/>
                <div class="vertical-center">
                    <h4>Nokia Lumia 730</h4>
                    <p>Price in Rs:<b>28,950</b></p>
                    <a href="#" class="btn btn-primary" role="button">Show More</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/lumia620b.gif" alt="..."/>
                <div class="vertical-center">
                    <h4>Nokia Lumia 620</h4>
                    <p>Price in Rs:<b>18,300</b></p>
                    <div class="vertical-center">
                        <a href="#" class="btn btn-primary" role="button">Show More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/lumia520b.gif" alt="..."/>
                <div class="vertical-center">
                    <h4>Nokia Lumia 520 </h4>
                    <p>Price in Rs:<b>11,800</b></p>
                    <div class="vertical-center">
                        <a href="#" class="btn btn-primary" role="button">Show More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img src="~/Images/1320b.gif" alt="..."/>
                <div class="vertical-center">
                    <h4>Nokia Lumia 1320 </h4>
                    <p>Price in Rs:<b>31,500</b></p>
                    <div class="vertical-center">
                        <a href="#" class="btn btn-primary" role="button">Show More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
